### 1.  Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list

In [32]:
def sum_even(l):
  num=0
  for i in l:
    if i %2==0:
      num+=i
  return num

print(sum_even([1,2,3,4,5,6]))

12

### 2. Create a Python function that accepts a string and returns the reverse of that string

In [51]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("ankita"))

atikna

### 3.  Implement a Python function that takes a list of integers and returns a new list containing the squares of each number

In [54]:

def product(l):
  sq=[]
  for i in l:
    sq.append(i**2)
  return sq

product([1,2,3,4,5])

[1, 4, 9, 16, 25]

### 4.. Write a Python function that checks if a given number is prime or not from 1 to 200

In [56]:
def is_prime_recursive(n, divisor=None):
    if n < 2:
        return False
    if divisor is None:
        divisor = int(n ** 0.5)  # Start checking from sqrt(n)
    if divisor < 2:
        return True
    if n % divisor == 0:
        return False
    return is_prime_recursive(n, divisor - 1)

is_prime_recursive(23)

True

###5.Create an iterator class in Python that generates the Fibonacci sequence up to a specified number ofterms

In [59]:
class FibonacciIterator:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        self.count += 1
        fib_num = self.a
        self.a, self.b = self.b, self.a + self.b
        return fib_num

fib = FibonacciIterator(10)
print(list(fib))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 6.  Write a generator function in Python that yields the powers of 2 up to a given exponent

In [60]:
def power_of_two(n):
    for i in range(n + 1):
        yield 2 ** i

print(list(power_of_two(5)))

[1, 2, 4, 8, 16, 32]

### 7.  Implement a generator function that reads a file line by line and yields each line as a string.

In [61]:
def read_file_line_by_line(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

### 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [62]:
tuples_list = [(1, 3), (2, 2), (4, 1)]
sorted_list = sorted(tuples_list, key=lambda x: x[1])

print(sorted_list)

[(4, 1), (2, 2), (1, 3)]

### 9.  Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [63]:
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

### 10. Create a Python program that uses `filter()` to remove all the vowels from a given string

In [ ]:
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print(fahrenheit)

### 11. Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this
Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map

In [64]:

orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)
]


updated_orders = list(map(lambda order: (order[0], order[2] * order[3] if order[2] * order[3] >= 100 else order[2] * order[3] + 10), orders))


print(updated_orders)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]